<form>
<div class="container popup1" >
    <div fxLayout="row" fxLayout.xs="column">
      
      <div fxFlex="100">
        <div fxFlex="98" fxFlexOffset="1" class="left-card">
            <h2>Invoice Validation - {{rows[0].invoiceNo}}</h2>            

          <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">             
             <small>
                <a #expandButton (click)="onExpandClick()"></a>        
             </small>

              <ngx-datatable #myTable class='material fullscreen expandable'
               [rows]='rows'
               [limit]="10"
               [columnMode]="'force'" 
               [headerHeight]="50"
               [footerHeight]="50" 
               [scrollbarV]="false"
               [rowHeight]="'auto'"                       
                >

                <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow >
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        
                                  <div *ngIf="validate">
                                  <ul fxFlex="95" fxLayoutAlign="start center" fxLayout="row" *ngIf="row.isActive == true">
                                  <li fxFlex="20">Validate Amount: <strong>{{row.validateAmount}}</strong></li>
                                  <li fxFlex="30">Remarks: <strong>{{row.remarks}}</strong></li>    
                                  <li fxFlex="30">Validate By: <strong>{{row.validateBy}}</strong></li>                               
                                  </ul>               
                                  
                                  <ul fxFlex="95" fxLayoutAlign="start center" fxLayout="row" *ngIf="row.isActive == false">
                                  <li fxFlex="20">
                                    <input  fxFlex="90" type="text" required placeholder="Validate Amount" maxlength="5" onkeydown="this.value=this.value.replace(/[^\d]/,'')" onkeyup="this.value=this.value.replace(/[^\d]/,'')"  (blur)="setValidAmountData($event.target.value, row);"  [disabled]=row.isActive>
                                 </li>
                                  <li fxFlex="30">
                                   <input fxFlex="90" type="text" required placeholder="Remarks" (blur)="setReamrk($event.target.value, row);"  [disabled]=row.isActive>                                 
                                  </li>  
                                  <li fxFlex="30">                            
                                  <p *ngIf="approved"><button  md-raised-button class="primary" (click)="updateTrans(row,'approved')" [disabled]=row.isActive >Approve</button> / 
                                  <button  md-raised-button class="reject" [disabled]=row.isActive  (click)="updateTrans(row,'reject')">Reject</button></p>
                                  </li>                                 
                                  <li *ngIf="validateBy">{{row.validateBy}}</li>
                                  </ul>
                                  </div>   
                      
                          <div *ngIf="account">
                          <ul fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
                             <li fxFlex="10">Amount: <span class="boldText">{{row.validateAmount}}</span></li>
                             <li fxFlex="25">Remarks: <span class="boldText">{{row.remarks}}</span></li>
                             <li fxFlex="15">Status: <span class="boldText">{{row.invoiceStatus}}</span></li>
                             <li fxFlex="20">Validate By: <span class="boldText">{{row.validateBy}}</span></li>
                             <li fxFlex="20"><input fxFlex="70" type="text" required placeholder="Reject Remarks" (blur)="setReamrk($event.target.value, row);" [disabled]=row.isActive></li>
                             <li fxFlex="8"><button  md-raised-button class="reject" (click)="rejectTransaction(row, 4)" [disabled]="btnReject">Reject</button></li>
                           </ul>                         
                          </div>
<!--                        
                         <ul fxFlex="95" fxLayoutAlign="start center" fxLayout="row" *ngIf="accountNew">
                          <li fxFlex="15">
                            <input  fxFlex="90" type="text" placeholder="Validate Amount" maxlength="5" onkeydown="this.value=this.value.replace(/[^\d]/,'')" onkeyup="this.value=this.value.replace(/[^\d]/,'')"  (blur)="setAcValidAmountData($event.target.value, row);">
                          </li>
                          <li fxFlex="20">
                            <input fxFlex="90" type="text" placeholder="Remarks" (blur)="setAcReamrk($event.target.value, row);">
                          </li>
                           <li fxFlex="15">
                            <input fxFlex="90" type="text" placeholder="Payment Ref No" (blur)="setAcRefPay($event.target.value, row);">
                          </li>
                          <li fxFlex="30">                                
                                 <md-select placeholder="Select Status" fxFlex="90" (change)="setAcStatus($event.value,row);">
                                   <md-option *ngFor="let x of status" value="{{x.id}}"> {{x.status }} </md-option>
                                 </md-select>
                          </li>
                           <li fxFlex="35" *ngIf="PayMode">                            
                                 <md-select placeholder="Payment Mode" fxFlex="90" (change)="setAcPayMode($event.value,row);">
                                   <md-option *ngFor="let x of action" value = {{x.value}}> {{ x.viewValue }}</md-option>
                                 </md-select>
                          </li>
                           <li fxFlex="10">                            
                          <p *ngIf="approved"><button md-raised-button class="primary" (click)="updateAccountTrans(row); chnageButton($event, row);" [disabled]=row.isActive>Submit</button></p>
                          <span *ngIf="username">{{row.validateBy}}</span>
                          </li>                          
                          </ul>-->

                      </ng-template>
                </ngx-datatable-row-detail>
          

                <ngx-datatable-column name="DATE" prop="id" [width]="100" [canAutoResize]="false"  [resizeable]="false">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <p>{{row.transactionDate}}</p>
                  </ng-template>
                </ngx-datatable-column>    
    
                <ngx-datatable-column name="TXN ID" prop="outlet" [width]="80" [canAutoResize]="false"  [resizeable]="false">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                     <p class="tabspan">{{row.refTransactionId}}</p>
                  </ng-template>
                </ngx-datatable-column>

                 <ngx-datatable-column name="TYPE" prop="outlet" [width]="150" [canAutoResize]="false"  [resizeable]="false">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                     <span>{{row.discountAmount}}</span>
                     <p>{{row.cardNumber}}</p>
                     <p class="tabspan">{{row.couponCode}}</p>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="PATIENT" prop="outlet" [width]="175" [canAutoResize]="false"  [resizeable]="false">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                     <span>{{row.patientName}}</span>
                     <p>Id: {{row.idProofType}}</p>
                     <p>G: {{row.gender}}</p>
                     <p class="tabspan">M: {{row.contactNo}}</p>
                  </ng-template>
                </ngx-datatable-column>

                
                <ngx-datatable-column name="SERVICE" prop="outlet" [width]="100" [canAutoResize]="false"  [resizeable]="false">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span>{{row.service}}</span>
                    <p class="tabspan">{{row.subService}}</p>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="TOTAL AMOUNT" prop="outlet" [width]="145" [canAutoResize]="false"  [resizeable]="false">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span>{{row.amount}}</span>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="PAID BY USER" prop="date" [width]="130" [canAutoResize]="false"  [resizeable]="false">
                  <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                    <span>{{row.amountPaidByUser}}</span>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="PROMISED AMOUNT" prop="date" [width]="220" [canAutoResize]="false"  [resizeable]="false">
                  <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                     <span>{{row.promisedAmount}}</span>
                  </ng-template>
                </ngx-datatable-column>
               
              </ngx-datatable>
            </div>
          </div>
    
          <!--<div fxLayout="row" fxLayout.xs="column">
            <ul fxFlex="100" class="amnt">
              <li>
                <strong>G.Total: {{this.amount}}</strong>
               <span> Two Thousands Five Hundread</span>
              </li>
              <li>Promised Amount: {{this.promisedAmount}}</li>
            </ul>
          </div>-->
    
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
              <!-- <button md-raised-button class="primary">Submit</button> -->
              <p><button md-raised-button class="primary" fxFlexOffset="3" md-dialog-close (click)=getInvoiceData();>Done</button></p>
            </div>
            
        </div>
      </div>
    
    </div>
    </div>
</form>