<form>
<div class="container">
  <div fxLayout="row">
    <md-card class="profileCard" fxFlex="100">
        <div fxFlex="98" fxFlexOffset="1" class="left-card">
        <h2><span  fxFlex="70">Transaction List</span>
          <button md-raised-button type="button" style="letter-spacing: 2px; text-align:center" class="primary" (click)="openreview()">Generate Invoice </button>
         <button md-raised-button type="button" fxFlexOffset="2" style="letter-spacing: 2px;" class="primary" routerLink="/dashboard/transactions/transaction">Add Transaction</button>
         </h2>
            <div fxLayout="row" fxLayout.xs="column" fx-layout-align="center center">
              <div fxFlex="60"  fxFlex.xs="100" class="v_align" >
                <md-input-container fxFlex="40" fxFlex.xs="98">
                  <input type="text" mdInput type='text' placeholder='Search by Txn ID Or Patient Name ...' (keyup)='updateFilter($event)' />
                </md-input-container>
                </div>
              
              <div fxFlex="40" fxFlex.xs="100">

             <md-input-container fxFlex="95" fxFlex.xs="80">
                  <input mdInput [mdDatepicker]="startDatePicker" placeholder="MM/DD/YYYY" (click)="startDatePicker.open()" style="cursor:pointer"
                    [(ngModel)]="userData.strdate" name="strdate" #strdate="ngModel">
                  <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
             </md-input-container>
             <md-datepicker #startDatePicker></md-datepicker>

             <span fxFlex="5" fxFlexOffset="4" style="padding-top:35px">To</span>

              <md-input-container fxFlex="95" fxFlex.xs="80"> 
               <input mdInput [mdDatepicker]="endDatePicker" placeholder="MM/DD/YYYY" (click)="endDatePicker.open()" (ngModelChange) ="getFilterData($event)" style="cursor:pointer"
                    [(ngModel)]="userData.endDate" name="endDate" #endDate="ngModel">
                  <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
             </md-input-container>
             <md-datepicker #endDatePicker ></md-datepicker>

             <!--<md-datepicker #endDatePicker (selectedChanged)="getFilterData($event)"></md-datepicker>-->            
          
            </div>
            </div>
              <div fxLayout="row" fxLayout.xs="column">
               <div fxFlex="100">
             
                   <md-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">
                      <md-tab label="Unbilled"></md-tab>
                      <md-tab label="Billed"></md-tab>
                    </md-tab-group>
                      
                  <small>
                      <a #expandButton (click)="onExpandClick()"></a>        
                   </small>
                    <ngx-datatable #myTable class='material fullscreen expandable'          
                    [rows]='rows'
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [scrollbarV]="false" 
                    [rowHeight]="'auto'"
                    [selected]="selected"
                    [selectionType]="'checkbox'"
                    (activate)="onActivate($event)"
                    (select)='onSelect($event)'
                    >                    
                    <ngx-datatable-row-detail [rowHeight]="60" #myDetailRow >
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                         <ul fxFlex="91" fxLayoutAlign="center center">
                          <li fxFlex="30">Status:{{row.status}}</li>
                          <li fxFlex="30">Remarks:{{row.remarks}}</li>
                          <li fxFlex="30">Created By: <a>{{row.createdBy}}</a></li>
                          <li fxFlex="20" fxLayoutAlign="end" (click) ="getTransctionInvoiceData(row.transactionId);" target="_blank"><a title="Print"><md-icon class="print">print</md-icon></a></li>
                          </ul>
                        </ng-template>
                      </ngx-datatable-row-detail>
                      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                          <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" name="checkBox" />
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                          <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                        </ng-template>
                    </ngx-datatable-column>
                     <ngx-datatable-column name="Txn ID" prop="id" [width]="160" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>                   
                          {{row.transactionId}}
                          </ng-template>
                    </ngx-datatable-column>

                     <ngx-datatable-column name="DATE" prop="date" [width]="200" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                          <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                             {{row.transactionDate}}
                          </ng-template>
                     </ngx-datatable-column> 

                     <ngx-datatable-column name="TYPE" prop="type" [width]="200" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        <span>{{row.discountAmount}}</span>
                        <p>{{row.cardNumber}}</p>
                        <p class="tabspan">{{row.couponCode}}</p>
                      </ng-template>
                    </ngx-datatable-column> 

                    <ngx-datatable-column name="PATIENT" prop="patient"  [width]="250" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        <span>{{row.patientName}}</span>
                        <p>Id: {{row.idProofType}}</p>
                        <p>G: {{row.gender}}</p>
                        <p class="tabspan">M: {{row.contactNo}}</p>
                      </ng-template>
                    </ngx-datatable-column> 
                     
                    <ngx-datatable-column name="SERVICE" prop="service" [width]="200" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                      <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                        <span>{{row.service}}</span>
                        <p class="tabspan">{{row.subService}}</p>
                      </ng-template>
                    </ngx-datatable-column>

                     <ngx-datatable-column name="AMOUNT" prop="amnt" [width]="140" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                        <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                          <span>Total:  {{row.totalAmount}}</span>
                          <p title="discount">Discount: -{{row.discountAmount}}</p>
                          <span><strong>Paid: {{row.payableAmount}}</strong></span>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>  
         
                  </div>
                </div>
        </div>
        <!-- <div fxFlex="29" fxFlexOffset="1" class="right-card" fxShow fxHide.xs="true">
            <div fxLayout="row">
              <div fxFlex="100" class="cp-para">
                
              </div>
            </div>
          </div> -->
    </md-card>
  </div>
</div>
</form>