 .form-control{
    display: block;
    position: relative;
    z-index: 11;
    padding: 0px;
    margin-bottom: 20px;
}

.form-control.active{
    border:1px solid #00b1ff;
    
} 
button {margin-left: 20px;}

input:disabled,
textarea:disabled {
    border: none;
    resize:  none;
}
fieldset {
    margin: 0px;
    border: none;
}
fieldset p{
    color:#acadb1;
}
fieldset md-icon{
    vertical-align: middle;
}
.form-overlay{
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    left: 0; top: 0;
   
}
label {
    position: relative;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    cursor: pointer !important;
}

.btn:active {
    box-shadow: 0  !important;
    /* transform: translateY(2px) !important; */
}
.btn {
    
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    width: 100px;
    box-shadow: 0;
    text-align: center;
}
.btn-sık {
    transition: all 0.2s ease;
    background-color: white ;
    border: 1px solid #b2b6b7;
    box-shadow: 0 !important;
    min-width: 175px;
    border-radius: 2px;
    color:#767575;
}
input[type="checkbox"] {
     position: absolute;
  visibility: hidden;
}

input[type="checkbox"] + div {
    position: relative;
}
input[type="checkbox"]:checked + div {
  background-color: #fff;
  width:20%;
  border: 1px solid #387ff8;
}
input[type="checkbox"]:disabled + div {
  background-color: #fff;
  width:20%;
  border: 1px solid #d2d2d2;
}

input[type="checkbox"]:checked + div>span {
  color: #767575;
}
input[type="checkbox"] + div>span {
position: relative;
top: 30%;}

input[type="checkbox"]:checked + div::before {
     content: "✔";
    position: absolute;
    bottom: -1px;
    right: -1px;
    text-indent: 18px;
    line-height: 280%;
    font-size: 14px;
    color: #fff;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background: #387ff8;
    width: 20%;
    height: 60%;
}
fieldset:disabled input[type="checkbox"]:checked + div::before {
      content: "✔";
    position: absolute;
    bottom: -1px;
    right: -1px;
    text-indent: 18px;
    line-height: 280%;
    font-size: 14px;
    color: #fff;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background: #d2d2d2;
    width: 20%;
    height: 60%; 
}
.providerServices{
    padding: 0;
    display: block;
    list-style: none;
}
.providerServices > li{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
}
 p{
     -webkit-margin-before: 0 !important; 
    -webkit-margin-after:0 !important;
    margin: 0px;
}
