 .form-control{
    display: block;
    position: relative;
    z-index: 11;
    padding: 0px;
    margin-bottom: 20px;
}

.form-control.active{
    border:1px solid #00b1ff;
    
} 
button {margin-left: 20px;}

input:disabled,
textarea:disabled {
    border: none;
    resize:  none;
}
fieldset {
    margin: 0px;
    border: none;
}
fieldset p{
    color:#acadb1;
}
fieldset md-icon{
    vertical-align: middle;
}
.form-overlay{
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    left: 0; top: 0;
   
}
label {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* .btn:hover {
    cursor: pointer !important;
}

.btn:active {
    box-shadow: 0  !important;
     transform: translateY(2px) !important;
}
.btn {
    
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    width: 100px;
    box-shadow: 0;
    text-align: center;
}
.btn-sık {
    transition: all 0.2s ease;
    background-color: white ;
    border: 1px solid #b2b6b7;
    box-shadow: 0 !important;
    min-width: 175px;
    border-radius: 2px;
    color:#767575;
}
input[type="checkbox"] {
     position: absolute;
  visibility: hidden;
}

input[type="checkbox"] + div {
    position: relative;
}
input[type="checkbox"]:checked + div {
  background-color: #fff;
  width:20%;
  border: 1px solid #387ff8;
}
input[type="checkbox"]:disabled + div {
  background-color: #fff;
  width:20%;
  border: 1px solid #d2d2d2;
}

input[type="checkbox"]:checked + div>span {
  color: #767575;
}
input[type="checkbox"] + div>span {
position: relative;
top: 30%;}

input[type="checkbox"]:checked + div::before {
     content: "✔";
    position: absolute;
    bottom: -1px;
    right: -1px;
    text-indent: 18px;
    line-height: 280%;
    font-size: 14px;
    color: #fff;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background: #387ff8;
    width: 20%;
    height: 60%;
}
fieldset:disabled input[type="checkbox"]:checked + div::before {
      content: "✔";
    position: absolute;
    bottom: -1px;
    right: -1px;
    text-indent: 18px;
    line-height: 280%;
    font-size: 14px;
    color: #fff;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background: #d2d2d2;
    width: 20%;
    height: 60%; 
}
.providerServices{
    padding: 0;
    display: block;
    list-style: none;
}
.providerServices > li{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
} */
 /* p{
     -webkit-margin-before: 0 !important; 
    -webkit-margin-after:0 !important;
    margin: 0px;
} */

 /* input, textarea {
    border: 1px solid gray;
    margin: 0px 20px;
    outline: none;
    color: black;
    background:  none;
}  */





/*.profile-pic{
    width: 85%;
    height: 118px;
    border: 2px solid #898989;
    background: #e3e8ee;
    margin-bottom: 15px;
}
.btn-group{
    position: absolute;
    right:0;
    bottom: 0;
}
.btn-group p{
    display: block;
    -webkit-margin-after:0 !important;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
 md-select {
    padding-top: 22px !important;
} 
.file-upload {
	position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
}

.file-upload__label {
  box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    text-align: center;
    min-width: 100%;
    line-height: 114px;
    padding: 0 16px;
    border-radius: 2px;
    background-color: transparent;
    color: #000;
    
}
.file-upload__label:hover {
     cursor: pointer;
  }

    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.profile-pix {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ddd;
}*/