h2 {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 0;
}
.example-card{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 40%;
     height: auto;
   background: white;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
   padding:0px;
}
.mat-card-header { 
    display: flex;
    flex-direction: row;
    background: #e2e2e2;
    text-align: center;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
    display: block;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}
.container{
  padding:3%;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
/*.mat-datepicker-toggle {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…Y1YzAtMS4xLS45LTItMi0yem0wIDE2SDVWOGgxNHYxMXpNNyAxMGg1djVIN3oiLz48L3N2Zz4=) no-repeat;
}*/