<div class="form-control">

<div [ngClass]="{'form-overlay': isInfraOverlay}">
  <div [hidden]="isInfraBtn" style="position: absolute; right: 0; bottom: 0;">
    <button md-raised-button type="button" class="primary" (click)="edit()">EDIT</button>
    </div>
</div>
  <form #outletInfra="ngForm" (ngSubmit)="outletInfraFrm()">
    <fieldset [disabled]="isInfraFieldset">
      <div data-attr="infra">
        <div fxLayout="row">
            <md-checkbox fxFlex="100">Do you provide 24x7 Emergency Services</md-checkbox>  
        </div>
        <div fxLayout="row">
          <md-select placeholder="Type of Outlet" fxFlex="100">
              <md-option value="0">-- Select --</md-option>
              <md-option *ngFor="let providerType of providerTypes" value="{{providerType.id}}">{{providerType.Name}}</md-option>
          </md-select>

        </div>
        <div fxLayout="row">
          <md-input-container fxFlex="100">
              <input type="text" mdInput placeholder="No. of Beds">

          </md-input-container>
        </div>
      </div>
    </fieldset>
    <div class="btn-group" [hidden]="isInfraOverlay || isInfraFieldset">
        <button md-raised-button type="submit" class="primary">SUBMIT</button>
      </div>
  </form>
</div>