<div class="strip" class.xs="strip-mb">
  <div class="strip_bg">
      <h2 align="right"><span>FORGOT</span><strong>PASSWORD</strong></h2>
    </div>
</div>
<md-card class="loginBox" class.xs="login-mb" >
  <md-progress-bar *ngIf="submitProgress" mode="indeterminate"></md-progress-bar>
  <div fxLayout="column" fxLayoutGap="20px" class="container" class.xs="container-mb">
    <div fxLayoutAlign="center">
      <img class="logo" src="assets/images/H3U_Logo_201x132.png" />
    </div>
    <form (ngSubmit)="forgotPasswordForm.valid && onSubmit()" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="left" #forgotPasswordForm="ngForm" novalidate>
      <md-input-container >
      <input #email="ngModel"  autocomplete="off" email mdInput name="email" placeholder="Email" required [(ngModel)]="forgotform.email" >
      <md-error *ngIf="email.errors?.required">Please provide email</md-error>
      <md-error *ngIf="!email.errors?.required && email.errors?.email">Please provide valid email</md-error>
    </md-input-container>
      
      <button md-raised-button class="primary" [disabled]="!forgotPasswordForm.valid || submitProgress">Send Mail</button>
      <a md-button routerLink="/login">Back to Login</a>
    </form>
     
        <div></div>
  </div>
</md-card>
