//  .popup{
//     /* Hidden by default */
//     position: fixed; /* Stay in place */
//     z-index: 1; /* Sit on top */
//     padding-top: 100px; /* Location of the box */
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     overflow: hidden; /* Enable scroll if needed */
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0,0.4);

//  }
//  .pop{
//      background: #ffffff;
//      width: 40%;
//      margin: auto;
//      padding: 20px;

    
//  }

.logo{
    vertical-align: middle;
    width: auto;
    height: 60px;
    margin: 5px 0px;
}
ul{
    // border-bottom: 2px solid #cccccc;
    li{
        list-style: none;
        padding: 5px 0px;
        font-weight: bold;
        span{
            font-weight: normal;
        }
      
    }
}
ol{
    list-style: none;
   
}

  .tabspan{
    font-size: 12px;
    color: #489cce;
  }
  ngx-datatable{
    p{
      line-height: .5;
      font-size: 12px;
    }
 
  }
  .amnt{
    span{
       text-align: right
    }
}
.field{
    border: none;
    padding-top: 0px;
    margin-top: 0px;
}
.foot{
    background-color: #535f72;
    color: #ffffff;
    padding: 0px 30px;
    margin: 20px 0px;
    a{
        color: #ffffff;
        padding: 0px 10px;
        img{
            padding: 0px 2px;
            height: 20px;
        }
        span{
            vertical-align: top;
        }
    }
}
.inst{
    background: transparent;
    border-top:3px solid #8c8a8a;
    border-bottom: 3px solid #8c8a8a;
    margin: 20px 0px;
    padding: 0px 30px;
    color: #000000
}
.supp{
    margin-bottom: 0px;
    li{
        line-height: 0.5;
       p{
           font-weight: normal;
           font-size: 12px;
       }
    }
}
