.popup{
    border: 0px solid;
    width: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-height: 150px;
    text-align: center;
    padding: 20px;
   position: fixed;
   left:400px;
   top: 300px;
}