
  $rejectcolor:red;
  .tabspan{
    font-size: 12px;
    color: #489cce;
  }
  ngx-datatable{
    p{
      line-height: 1;
      font-size: 12px;
    }
  ul{
    list-style: none;
  }
  }
  .btn_contain{
    height: 40px;
    margin-top: 25px;
  }
  .blueText{
    color: blue; cursor: pointer;
    font-weight: bold;
  }
  input[type=text] {
    // border: 1px solid #d4d3d3;
    margin-top: 0px;
    height: 35px;
}
.reject{
    background: $rejectcolor;
    color:#fff;   
}