<div class="container">
  <div fxLayout="row">
    <md-card class="profileCard" fxFlex="100">
        <div fxFlex="98" fxFlexOffset="1" class="left-card">
         <h2><span  fxFlex="80">Invoices List</span>
         <!-- <button md-raised-button type="button" style="letter-spacing: 2px;" class="primary" routerLink="/dashboard/invoices/invoice">New Invoice</button> -->
         </h2>
            <div fxLayout="row" fxLayout.xs="column" fx-layout-align="center center">
              <div fxFlex="60"  fxFlex.xs="100" class="v_align" >
                <md-input-container fxFlex="90" fxFlex.xs="98">
                  <input type="text" mdInput type='text' placeholder='Search...' (keyup)='updateFilter($event)' />
                </md-input-container>               
                </div>
              <div fxFlex="40" fxFlex.xs="100">
                <md-input-container fxFlex="95" fxFlex.xs="80">
                  <input mdInput [mdDatepicker]="startDatePicker" placeholder="Start Date" >
                  <button type="button" mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
                </md-input-container>              
                <md-datepicker #startDatePicker (selectedChanged)="fetchRecByStartDate($event)"></md-datepicker>
                <md-input-container fxFlex="95" fxFlex.xs="100" fxFlexOffset="5" >
                  <input mdInput [mdDatepicker]="endDatePicker" placeholder="End Date">
                  <button type="button" mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
                </md-input-container>
                <md-datepicker #endDatePicker (selectedChanged)="fetchRecByEndDate($event)"></md-datepicker>
              </div>
            </div>
              <div fxLayout="row" fxLayout.xs="column">
               <div fxFlex="100">
                   <small>
                       <a #expandButton (click)="onExpandClick()"></a>        
                   </small>
                    <ngx-datatable #myTable class='material fullscreen expandable'          
                    [rows]='rows'
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [scrollbarV]="false" 
                    [rowHeight]="'auto'">

                      <ngx-datatable-row-detail [rowHeight]="90" #myDetailRow *ngIf="accountNew">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                        <ul fxFlex="95" fxLayoutAlign="start center" fxLayout="row" >
                          <li fxFlex="15">
                            <input  fxFlex="90" type="text" placeholder="Paid Amount" maxlength="5" onkeydown="this.value=this.value.replace(/[^\d]/,'')" onkeyup="this.value=this.value.replace(/[^\d]/,'')"  (blur)="setAcValidAmountData($event.target.value, row);">
                         </li>
                          <li fxFlex="30">
                            <input fxFlex="90" type="text" placeholder="Remarks" (blur)="setAcReamrk($event.target.value, row);">
                          </li>
                           <li fxFlex="15">
                            <input fxFlex="90" type="text" placeholder="Payment Ref No" (blur)="setAcRefPay($event.target.value, row);">
                           </li>                         
                           <li fxFlex="15">                            
                                 <md-select placeholder="Payment Mode" fxFlex="90" (change)="setAcPayMode($event.value,row);">
                                   <md-option *ngFor="let x of action" value = {{x.value}}> {{ x.viewValue }}</md-option>
                                 </md-select>
                          </li>
                           <li fxFlex="20">                            
                           <button md-raised-button class="primary" (click)="updateAccountTrans(row); chnageButton($event, row);" [disabled]=row.isActive>Submit</button> 
                           <!--<button  md-raised-button class="reject" [disabled]=row.isActive  (click)="updateTrans(row,'reject')">Reject</button>-->
                           <span *ngIf="username">{{row.validateBy}}</span>
                          </li>
                         
                          </ul>

                        </ng-template>
                     </ngx-datatable-row-detail>  

                    
                     <ngx-datatable-column name="INVOICE NO" prop="id">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                      <a  (click)="openreviewValidate(row);" class="blueText"> {{row.invoiceNo}}</a>
                      </ng-template>
                    </ngx-datatable-column> 

                     <ngx-datatable-column name="INVOIVE DATE" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        {{row.invoiceDate}}
                      </ng-template>
                    </ngx-datatable-column> 

                      <ngx-datatable-column name="TOTAL AMOUNT" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        {{row.totalAmount}}
                      </ng-template>
                    </ngx-datatable-column>
                  

                    <ngx-datatable-column name="TOTAL PAID AMOUNT" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        {{row.totalPaidAmount}}
                      </ng-template>
                    </ngx-datatable-column>

                      </ngx-datatable>
                  </div>
                </div>
        </div>
        <!-- <div fxFlex="29" fxFlexOffset="1" class="right-card" fxShow fxHide.xs="true">
            <div fxLayout="row">
              <div fxFlex="100" class="cp-para">                
              </div>
            </div>
          </div> -->
    </md-card>
  </div>
</div>
