<div class="container">
  <div fxLayout="row">
    <md-card class="profileCard" fxFlex="100">
        <div fxFlex="98" fxFlexOffset="1" class="left-card">
         <h2><span  fxFlex="80">Traninigs</span>
         <!-- <button md-raised-button type="button" style="letter-spacing: 2px;" class="primary" routerLink="/dashboard/invoices/invoice">New Invoice</button> -->
         </h2>
            <!--<div fxLayout="row" fxLayout.xs="column" fx-layout-align="center center">
              <div fxFlex="60"  fxFlex.xs="100" class="v_align" >
                <md-input-container fxFlex="90" fxFlex.xs="98">
                  <input type="text" mdInput type='text' placeholder='Search...' (keyup)='updateInvoiceFilter($event)' />
                </md-input-container>               
                </div>
              <div fxFlex="40" fxFlex.xs="100">
                
                <md-input-container fxFlex="95" fxFlex.xs="80">
                  <input mdInput [mdDatepicker]="startDatePicker" placeholder="MM/DD/YYYY" (click)="startDatePicker.open()" style="cursor:pointer"
                    [(ngModel)]="userData.strdate" name="strdate" #strdate="ngModel">
                  <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
                </md-input-container>
                <md-datepicker #startDatePicker></md-datepicker>

                <span fxFlex="5" fxFlexOffset="4" style="padding-top:35px">To</span>

                <md-input-container fxFlex="95" fxFlex.xs="80"> 
                  <input mdInput [mdDatepicker]="endDatePicker" placeholder="MM/DD/YYYY" (click)="endDatePicker.open()" (ngModelChange) ="getFilterData($event)" style="cursor:pointer"
                    [(ngModel)]="userData.endDate" name="endDate" #endDate="ngModel">
                  <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
                </md-input-container>
               <md-datepicker #endDatePicker ></md-datepicker>


              </div>
            </div>-->
              <div fxLayout="row" fxLayout.xs="column">
               <div fxFlex="100">             

                   <small>
                       <a #expandButton (click)="onExpandClick()"></a>        
                   </small>
                    <ngx-datatable #myTable class='material fullscreen expandable'          
                    [rows]='rows'
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [scrollbarV]="false" 
                    [rowHeight]="'auto'">

                      <!--<ngx-datatable-row-detail [rowHeight]="90" #myDetailRow *ngIf="accountNew">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                        <ul fxFlex="95" fxLayoutAlign="start center" fxLayout="row" >
                          <li fxFlex="15">
                            <input  fxFlex="90" type="text" placeholder="Paid Amount" maxlength="5" onkeydown="this.value=this.value.replace(/[^\d]/,'')" onkeyup="this.value=this.value.replace(/[^\d]/,'')"  (blur)="setAcValidAmountData($event.target.value, row);">
                         </li>
                          <li fxFlex="30">
                            <input fxFlex="90" type="text" placeholder="Remarks" (blur)="setAcReamrk($event.target.value, row);">
                          </li>
                           <li fxFlex="15">
                            <input fxFlex="90" type="text" placeholder="Payment Ref No" (blur)="setAcRefPay($event.target.value, row);">
                           </li>                         
                           <li fxFlex="15">                            
                                 <md-select placeholder="Payment Mode" fxFlex="90" (change)="setAcPayMode($event.value,row);">
                                   <md-option *ngFor="let x of action" value = {{x.value}}> {{ x.viewValue }}</md-option>
                                 </md-select>
                          </li>
                           <li fxFlex="20">                            
                           <button md-raised-button class="primary" (click)="updateInvoicePaid(row, id)">Submit</button> 
                           <button  md-raised-button class="reject" [disabled]=row.isActive  (click)="updateTrans(row,'reject')">Reject</button>
                           <span *ngIf="username">{{row.validateBy}}</span>
                          </li>                         
                          </ul>
                        </ng-template>
                     </ngx-datatable-row-detail>  -->

                    
                     <ngx-datatable-column name="S.No" prop="id">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                         1
                      </ng-template>
                    </ngx-datatable-column> 

                     <ngx-datatable-column name="TRAINING NAME" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        Auth Traninig
                      </ng-template>
                    </ngx-datatable-column> 

                      <ngx-datatable-column name="TRAINING DATE" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                       07/Dec/2017
                      </ng-template>
                    </ngx-datatable-column>
                  
                    <ngx-datatable-column name="TRAINING PERSON" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        AMIT CHOPRA
                      </ng-template>
                    </ngx-datatable-column>

                     <ngx-datatable-column name="STATUS" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        Done
                      </ng-template>
                    </ngx-datatable-column>

                      </ngx-datatable>
                  </div>
                </div>
        </div>   
    </md-card>
  </div>



  <div fxLayout="row" *ngIf="feedback">
    <md-card fxFlex="100" class="chartcard">
      <h2>Feedback About Traninig</h2>
      <form class="form" fxLayout="column" fxLayoutGap="10px">
        <fieldset fxFlex="100" class="field">
          <div fxLayout="row" fxFlex="100">
            <span></span>

          </div>
          <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
              <input mdInput placeholder='Training Name' />
            </md-input-container>
            <md-input-container fxFlex="49" fxFlexOffset="2">
              <input mdInput placeholder='Training Date' />
            </md-input-container>
          </div>
          <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
              <input mdInput placeholder='Training Person' />
            </md-input-container>
    
             <md-select placeholder="About Training" fxFlex="90" fxFlexOffset="2">
                 <md-option>Very Good</md-option>
                 <md-option>Good</md-option>
                 <md-option>Average</md-option>
                 <md-option>Bad</md-option>
             </md-select>
         
          </div>       
          <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="100">
              <input mdInput placeholder='Comment' />
            </md-input-container>           
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
            <button md-raised-button class="primary" fxFlexOffset="2">Submit</button>
          </div>
        </fieldset>
      </form>
    </md-card>
  </div>


</div>
