<div class="container">
  <div fxLayout="row">
    <md-card fxFlex="100" class="chartcard">
      <h2>Package</h2>
      <form class="form" fxLayout="column" fxLayoutGap="10px">
        <fieldset fxFlex="100" class="field">
          <div fxLayout="row" fxFlex="100">
            <span></span>

          </div>
          <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
              <input mdInput placeholder='Package Name' />
            </md-input-container>
            <md-input-container fxFlex="49" fxFlexOffset="2">
              <input mdInput placeholder='Offer Type' />
            </md-input-container>
          </div>
          <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
              <input mdInput placeholder='Percentage Value' />
            </md-input-container>
            <md-input-container fxFlex="49" fxFlexOffset="2">
              <input mdInput placeholder='H3U Price' />
            </md-input-container>
          </div>
          <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
              <input mdInput placeholder='Start Date' />
            </md-input-container>
            <md-input-container fxFlex="49" fxFlexOffset="2">
              <input mdInput placeholder='Expire Date' />
            </md-input-container>
          </div>
          <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
              <input mdInput placeholder='Timing' />
            </md-input-container>
            <md-input-container fxFlex="49" fxFlexOffset="2">
              <input mdInput placeholder='Terms link URL' />
            </md-input-container>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
            <button md-raised-button class="primary" fxFlexOffset="2">Create Package</button>
          </div>
        </fieldset>
      </form>
    </md-card>
  </div>
</div>