<!--<div style="width:400px; height:500px;">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()">Update</button>
</div>-->
<div style="height:20px;"></div>
<div fxFlexOrder="1" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" fxLayout.xs="column">

    <div fxFlex="32" fxFlexAlign="center" style="display: block;height:300px;width:300px">
        <canvas baseChart width="400" height="400" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div fxFlex="32" fxFlexAlign="center" style="display: block;height:300px;width:300px">
        <canvas baseChart width="400" height="400" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div fxFlex="32" fxFlexAlign="center" style="display: block;height:300px;width:300px">
        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>