<div class="container">
  <div fxLayout="row">
    <md-card class="profileCard" fxFlex="100">
        <div fxFlex="98" fxFlexOffset="1" class="left-card">
         <h2><span  fxFlex="80">Invoices List</span>
         <!-- <button md-raised-button type="button" style="letter-spacing: 2px;" class="primary" routerLink="/dashboard/invoices/invoice">New Invoice</button> -->
         </h2>
            <div fxLayout="row" fxLayout.xs="column" fx-layout-align="center center">
              <div fxFlex="60"  fxFlex.xs="100" class="v_align" >
                <md-input-container fxFlex="90" fxFlex.xs="98">
                  <input type="text" mdInput type='text' placeholder='Search by Invoice No...' (keyup)='updateFilter($event)' />
                </md-input-container>               
                </div>
              <div fxFlex="40" fxFlex.xs="100">
                <md-input-container fxFlex="95" fxFlex.xs="80">
                  <input mdInput [mdDatepicker]="startDatePicker" placeholder="Start Date" >
                  <button type="button" mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
                </md-input-container>              
                <md-datepicker #startDatePicker (selectedChanged)="fetchRecByStartDate($event)"></md-datepicker>
                <md-input-container fxFlex="95" fxFlex.xs="100" fxFlexOffset="5" >
                  <input mdInput [mdDatepicker]="endDatePicker" placeholder="End Date">
                  <button type="button" mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
                </md-input-container>
                <md-datepicker #endDatePicker (selectedChanged)="fetchRecByEndDate($event)"></md-datepicker>
              </div>
            </div>
              <div fxLayout="row" fxLayout.xs="column">
               <div fxFlex="100">
                  <small>
                      <a #expandButton (click)="onExpandClick()"></a>        
                   </small>
                    <ngx-datatable #myTable class='material fullscreen expandable'          
                    [rows]='rows'
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [scrollbarV]="false" 
                    [rowHeight]="'auto'">

                       
                     <ngx-datatable-column name="INVOICE NO" prop="id">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                      <a (click)="openreview(row);" class="blueText"> {{row.invoiceNo}}</a>
                      </ng-template>
                    </ngx-datatable-column> 

                     <ngx-datatable-column name="INVOIVE DATE" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        {{row.invoiceDate}}
                      </ng-template>
                    </ngx-datatable-column> 

                      <ngx-datatable-column name="AMOUNT" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        {{row.totalAmount}}
                      </ng-template>
                    </ngx-datatable-column>
                  

                    <ngx-datatable-column name="PAID AMOUNT" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        {{row.totalPaidAmount}}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="STATUS" prop="outlet">
                      <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                        {{row.invoiceStatus}}
                      </ng-template>
                    </ngx-datatable-column>

                      </ngx-datatable>
                  </div>
                </div>
        </div>
        <!-- <div fxFlex="29" fxFlexOffset="1" class="right-card" fxShow fxHide.xs="true">
            <div fxLayout="row">
              <div fxFlex="100" class="cp-para">                
              </div>
            </div>
          </div> -->
    </md-card>
  </div>
</div>
