
<!--<router-outlet></router-outlet>-->
<md-card>
        <md-card-title>
      <div fxLayout="row">
        <h2 fxFlex="97"  fxFlex.xs="85">Offers</h2>
         <a routerLink="/Packages" md-mini-fab><md-icon>add</md-icon></a>
      </div>
        </md-card-title>
        <md-card-content>
          <form fxLayout="column" fxLayoutGap="10px" fxFlex="100" fxFlex.xs="95">
            <div fxLayout="row" fxLayout.xs="column" fxFlex="100" fxFlex.xs="95">
              <md-card class="mdteal" fxFlex="45" fxFlex.xs="95" fxLayoutAlign="center center"> 
               <md-icon class="icongap">style</md-icon>
                <h4>Campaigns</h4>
              </md-card>
              <md-card class="mdteal" fxFlex="45" fxFlex.xs="95" fxLayoutAlign="center center">
                <md-icon class="icongap">email</md-icon>
                <h4>Customers</h4>
              </md-card>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxFlex="100">
              <md-card class="mdteal" fxFlex="45" fxFlex.xs="95" fxLayoutAlign="center center"> 
                <md-icon class="icongap">notifications</md-icon>
                <h4>Notifications</h4>
              </md-card>
              <md-card class="mdteal" fxFlex="45" fxFlex.xs="95" fxLayoutAlign="center center">
                <md-icon class="icongap">style</md-icon>
                <h4>Campaigns</h4>
              </md-card>
            </div>
          </form>
        </md-card-content>
      </md-card>
