
 <header class="headerSec">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="material-icons md-24">menu</md-icon>
    </button>￼
    <img fxFlexAlign="center" class="logo" src="assets/images/H3U_Logo_201x132.png" />
    <ul class="headerRightMenu" fxHide fxShow.sm fxShow.md fxShow.lg>
      <li>
         <span [mdMenuTriggerFor]="profileXs" class="triggerMenu"> 
           <md-icon>person</md-icon> <span>{{profile.firstName}} {{profile.lastName}}</span><md-icon>expand_more</md-icon>
         </span>
         <md-menu #profileXs="mdMenu"  [overlapTrigger]="true" yPosition="below">
          <button md-menu-item (click)="add('/dashboard/providers/provider/152')"><md-icon>perm_identity</md-icon>Profile-P</button>
          <button md-menu-item (click)="add('/dashboard/provider/1/outlet/2')"><md-icon>perm_identity</md-icon>Profile-O</button>
          <button md-menu-item (click)="logout()"><md-icon>exit_to_app</md-icon> Log Out</button>
        </md-menu>
      </li>
      <li>
        <span>
          <md-icon>settings</md-icon> <br><span>SETTING</span>
        </span>
      </li>
      <li>
        <span [mdMenuTriggerFor]="addMenuxs" class="triggerMenu">
          <md-icon>add</md-icon> <br><span>ADD</span>
        </span>
        <md-menu #addMenuxs="mdMenu" [overlapTrigger]="true">
          <button md-menu-item (click)="add('/dashboard/providers/provider')"><img src="assets/images/Service-20.png"> Add Provider</button>
          <button md-menu-item (click)="add('/dashboard/provider/outlet')"><md-icon>add</md-icon>Add Outlet</button>
          <button md-menu-item><img src="assets/images/services.png">Add Service</button>
          <button md-menu-item ><img src="assets/images/industry-line_stethescope-20.png">Add Doctor</button>
        </md-menu>
      </li>
    </ul> 
    <ul class="headerRightMenu" fxShow fxHide.md fxHide.sm fxHide.lg fxLayoutAlign="end end">
      <li>
        <span [mdMenuTriggerFor]="profileLg" class="triggerMenu">
           <md-icon>person</md-icon>
         </span>
         <md-menu #profileLg="mdMenu" [overlapTrigger]="true">
           <span fxShow fxHide.md fxHide.sm fxHide.lg>{{profile.firstName | uppercase}} {{profile.lastName | uppercase}}</span>
          <button md-menu-item data-thickness="bar"><md-icon>perm_identity</md-icon> Profile</button>
          <button md-menu-item (click)="logout()"><md-icon>exit_to_app</md-icon> Log Out</button>
        </md-menu>
      </li>
      <li><md-icon>settings</md-icon> <br>SETTING</li>
      <li>
        <span [mdMenuTriggerFor]="addMenuLg" class="triggerMenu">
          <md-icon>add</md-icon> <br>ADD
        </span>
        <md-menu #addMenuLg="mdMenu" [overlapTrigger]="true">
          <button md-menu-item><img src="assets/images/Service-20.png"> Add Provider</button>
          <button md-menu-item><md-icon>add</md-icon>Add Outlet</button>
          <button md-menu-item><img src="assets/images/services.png"> Add Service</button>
          <button md-menu-item ><img src="assets/images/industry-line_stethescope-20.png"> Add Doctor</button>
        </md-menu>
      </li>
    </ul>
  </header>
<md-sidenav-container class="example-sidenav-fab-container" fullscreen>
 
  <md-sidenav #sidenav [mode]="isOpenSide" [opened]="isOpened">
    <div class="example-scrolling-content">
        <ul class="nav">
          <a routerLink="home" >
            <li>
              <p><md-icon class="mainIcon">dashboard</md-icon></p>
              <p>DASHBOARD</p>
            </li>
          </a>
          
          <a routerLink="/dashboard/invoices/invoices-list">
            <li>
              <p><md-icon class="mainIcon">receipt</md-icon></p>
              <p>INVOICES</p>
            </li>
          </a>
          <a routerLink="provider/1/outlets">
            <li>   
              <p><md-icon class="mainIcon">store</md-icon></p>
              <p>OUTLETS</p>  
            </li>
          </a>
          <a routerLink="/dashboard/transactions/transaction">
            <li>  
                <p><md-icon class="mainIcon">credit_card</md-icon></p>
                <p>TRANSACTIONS</p>  
            </li>
          </a>
          <a routerLink="training">
            <li> 
              <p><md-icon class="mainIcon">assignment</md-icon></p>
              <p>TRAINING</p>
            </li>
          </a>
        </ul>
    </div>
  </md-sidenav>
  
  <div class="example-scrolling-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

<!--<router-outlet></router-outlet>-->



