<div class="strip" class.xs="strip-mb">
  <div class="strip_bg">
      <h2 align="right"><span>CHANGE</span><strong>PASSWORD</strong></h2>
    </div>
</div>
<md-card class="loginBox" class.xs="login-mb" >
  <div fxLayout="column" class="container" class.xs="container-mb">
    <div fxLayoutAlign="center">
      <img class="logo" src="assets/images/H3U_Logo_201x132.png" />
    </div>
    <form (ngSubmit)="changePasswdFrm.valid && onSubmit()" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="left" #changePasswdFrm="ngForm">
      <md-input-container>
        <input type="password" mdInput placeholder="Old Password" required name="oldPassword" #oldPassword="ngModel" [(ngModel)]="changePasswd.oldPassword">
        <md-error *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)">
          <md-error>
            <span [hidden]="!oldPassword.errors.required">Please provide old password</span>
          </md-error>
        </md-error>
      </md-input-container>
      <md-input-container>
        <input type="password" mdInput placeholder="New Password" required [(ngModel)]="changePasswd.newPassword" name="newPassword" #newPassword="ngModel">
        <md-error *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
          <md-error>
            <span [hidden]="!newPassword.errors.required">Please provide new password</span>
          </md-error>
        </md-error>
      </md-input-container>
      <md-input-container>
        <input pattern="{{changePasswd.newPassword}}" type="password" mdInput placeholder="Confirm New Password" required [(ngModel)]="changePasswd.confPassword" name="confPassword" #confPassword="ngModel">
        <md-error *ngIf="confPassword.errors && (confPassword.dirty || confPassword.touched)">
          <md-error>
            <span [hidden]="!confPassword.errors.required">Please provide confirm password</span>
            <span [hidden]="!confPassword.errors.pattern">Confirm password must be same as new password</span>
          </md-error>
        </md-error>
      </md-input-container>
       <md-error *ngIf="notMatch"><md-error>Password does not match</md-error></md-error>
      <button md-raised-button class="primary" [disabled]="!changePasswdFrm.valid">Change Password</button>
      <a md-button routerLink="/login">Back to Login</a>
    </form>
     
        <div></div>
  </div>
</md-card>
