.strip {
   position: absolute;
   left: 0%;
   top: 50%;
   transform: translate(0%, -50%);
   width: 70%;
   height: 20%;
   background: #827c7c ;
   font-family: "Oswald",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}
.strip > .strip_bg > h2 > span:first-child{
  font-weight:200; letter-spacing: -1px;
}
.strip > .strip_bg > h2 > strong:last-child{
  font-weight:400; letter-spacing: -1px;
}
.strip-mb{
   position: absolute;
   left: 0%;
   top: 40%;
  width: 95%;
  height: 20%;
   background: #827c7c ;
}
.mat-card-footer[_ngcontent-c1] {
    position: absolute;
    width: 100%;
    min-height: 5px;
    bottom: 20px;
    left: 0px;
    
    padding-top:15px;
}
a{text-decoration: none;    color: currentColor;}
.loginBox {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 35%;
   height: auto;
   background: white;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
   padding:0px;
}
.container{
  padding:15%;
}
.container-mb{
  padding:10%;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
.example-form{
  margin:5px;
}
.logo{
  max-width: 150px;
  max-height: 100px;
}
/* strip background */
.strip_bg{
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   color: #ecebeb;
   right: 55%;
}
.strip_bg > h2 span {
  display: block;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .strip {
    position: absolute;
      top: 13%;
      left: 8%;
      width: 85%;
      height: 15%;
          margin-top: 20px;
  }
  .login-mb{
    top: 25%;
  }
  
 .strip_bg > h2 span{
   padding-top: 0px;color:#ecebeb;
 } 
 .strip_bg > h2{padding-top: 15px; font-size:18px;}
}