
  <div class="container">
      <div fxLayout="row">
        <md-card class="profileCard" fxFlex="100">
            <div fxFlex="69" fxFlexOffset="1" class="left-card">
                <h2><span  fxFlex="80">Transaction</span>
                  <button md-raised-button type="button" style="letter-spacing: 2px;" class="primary" routerLink="/dashboard/transactions/transaction">Add Transaction</button>
                  </h2>
             <div fxLayout="row" fx-layout-align="center center">
                <div fxFlex="100" class="v_align" >                   
                 <form (ngSubmit)="onSubmit()">
                  <md-input-container fxFlex="45">
                      <input type="text" mdInput placeholder="Card Number" required [(ngModel)]="user.cardNumber" name="cardNumber" #cardNumber="ngModel" (ngModelChange)="getTrasnctionData1($event);">
                  </md-input-container>
                   
                 </form>

                  </div>
              </div>
              
              <div fxLayout="row" fxLayout.xs="column">
                        <fieldset fxFlex="100">
                              <legend>Services</legend>
                          <div fxLayout="row" fxFlex="97">
                              
                            <md-select placeholder="Select Service" fxFlex="50">
                                  <md-option *ngFor="let user of service" name="selctedServices" [value]="user.id">
                                    {{user.name}}
                                  </md-option>
                                </md-select>
                                <md-select placeholder="Speciality" fxFlex="50" fxFlexOffset="2">
                                 <md-option *ngFor="let speciality of speciality" [value]="speciality.value">
                                    {{ speciality.viewValue }}
                                  </md-option>
                                </md-select>
                          </div><br>
                          <div fxLayout="row" fxFlex="97">
                              <md-input-container fxFlex="50">
                                  <input type="text" mdInput type='text'  placeholder='Doctor Name' />
                                </md-input-container>
                                <md-input-container fxFlex="50" fxFlexOffset="2">
                                    <input type="text" mdInput type='text'  placeholder='Amount' />
                                  </md-input-container>
                          </div>
                        </fieldset>
                    
                        </div>
                  <div fxLayout="row" fxLayout.xs="column">
                   <div fxFlex="100">
                      <small>
                          <a   (click)="table.rowDetail.expandAllRows()">Expand All</a> | 
                          <a   (click)="table.rowDetail.collapseAllRows()">Collapse All</a>
                        </small>
                   

                        <ngx-datatable #myTable class='material fullscreen expandable'          
                        [rows]='rows'
                        [limit]="PageSize"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [scrollbarV]="false" 
                        [rowHeight]="'auto'">
                        (activate)="onActivate($event, modal)"-->
                        <ngx-datatable-row-detail [rowHeight]="60" #myDetailRow >
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                              <ol fxFlex="100" fxLayoutAlign="center center">
                              <li fxFlex="35"><span> Aadhar Card </span>{{user.addharNo}}</li>
                              <li fxFlex="13">adharcardlink</li>
                              <li fxFlex="80"><a><button md-mini-fab ><md-icon>remove_red_eye</md-icon></button></a></li>
  
                              </ol>
                            </ng-template>
                          </ngx-datatable-row-detail>
                          <ngx-datatable-column name="NAME" prop="name" >
                            <!-- Row Detail Template -->
                            <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>                   
                             <a (click)="kycShow()" style="color:blue;cursor:hand;">{{row.MemberName}}</a>
                            </ng-template>
                          </ngx-datatable-column> 
                          <ngx-datatable-column name="GENDER" prop="gender" width="100">
                            <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                              {{row.Gender}}
                            </ng-template>
                          </ngx-datatable-column>
                        
                          <ngx-datatable-column name="DATE OF BIRTH" prop="dob">
                            <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                              {{row.Dob}}
                            </ng-template>
                          </ngx-datatable-column>  
  
                          <ngx-datatable-column name="RELATION" prop="relation" width="100">
                            <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                              {{row.Relation}}
                            </ng-template>
                          </ngx-datatable-column> 
  
                          <ngx-datatable-column name="AGE" prop="age" width="100">
                            <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                              {{row.Age}}
                            </ng-template>
                          </ngx-datatable-column> 
                         
                        </ngx-datatable>                    </div>
                    </div>
            </div>
            <!-- <div fxFlex="29" fxFlexOffset="1" class="right-card" fxShow fxHide.xs="true">
                <div fxLayout="row">
                  <div fxFlex="100" class="cp-para">
                    
                  </div>
                </div>
              </div> -->
        </md-card>
      </div>
    </div>
  