<div class="container popup1" >
<div fxLayout="row" fxLayout.xs="column">
  
  <div fxFlex="100">
    <div fxFlex="98" fxFlexOffset="1" class="left-card">
        <h2>Transaction Summary</h2>
        <div fxLayout="row" fxLayout.xs="column">
            <ul class="supp" fxFlex="100">
                <li fxFlex="10">
                    <img src="https://www.h3u.com/bucket/assets/h3u/logos/H3U_Logo_SVG.svg" alt="H3U" class="logo" style="height:50px; width:auto; margin:0px ;">
                   
                </li>
                <li fxFlex="60">
                    <span style="font-weight:bold;">Vipul Medcare Pvt Ltd</span>
                    <p>534, Udyog Vihar, Phase V</p>
                    <p>Gurgaon, Haryana-122016</p>
                    <p style="font-weight:bold;">0124-4803182 </p>
                </li>
                <li fxFlex="10">
                    <img src="https://www.h3u.com/bucket/assets/h3u/logos/H3U_Logo_SVG.svg" alt="H3U" class="logo" style="height:50px; width:auto; margin:0px ;">
                   
                </li>
                <li fxFlex="20">
                    Provider Name
                  <p>458, Udyog Vihar, Phase V</p>
                  <p>Gurgaon, Haryana-122016</p>
                  <p style="font-weight:bold;">GST No</p>
                 
                </li>
              </ul>
              </div>
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100">
          <small>
            <a #expandButton (click)="onExpandClick()"></a>
          </small>
          <ngx-datatable #myTable class='material fullscreen expandable'
           [rows]='rows'
           [limit]="10"
           [columnMode]="'force'" 
           [headerHeight]="50"
           [footerHeight]="50" 
           [scrollbarV]="false"
           [rowHeight]="'auto'"
            >
            <ngx-datatable-column name="DESCRIPTION" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{row.id}}</span>
                <p>{{row.cardNumber}}</p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="PATIENT" prop="outlet">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{ row.patientName}}</span>
                <p>{{row.gender}}</p>
                <p class="tabspan">Relationship</p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="SERVICE" prop="outlet">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span> {{row.service}}</span>
                <p class="tabspan">{{row.subService}}</p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="HSN" prop="outlet">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span> HSN Name</span>
                <p>HSN Code</p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="PRICE" prop="date" width="100">
              <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                <span>{{row.totalAmount}}</span>
                <p class="tabspan">{{row.discountAmount}}</p>
                <p>{{row.payableAmount}}</p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="TAX" prop="date" width="100">
              <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                <span>0%</span>
                <p>0.00</p>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="TOTAL AMNT" prop="date" width="100">
              <ng-template let-row="row" let-value="values" ngx-datatable-cell-template>
                <span>0%</span>
                <p>0.00</p>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <ul fxFlex="100" class="amnt">
          <li>
            <strong>In Words:</strong>
            <span> Two Thousands Five Hundread</span>
          </li>
        </ul>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
          <button md-raised-button class="primary">Approve</button>
          <button md-raised-button class="primary" fxFlexOffset="3" md-dialog-close>Edit</button>
        </div>
        
    </div>
  </div>

</div>
</div>