<div fxLayout="row" fxLayout.xs="column">
  <fieldset fxFlex="100">
    <legend>
      Reject</legend>

      <div class="picon" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <md-icon>error_outline</md-icon>
        </div>

    <div fxLayout="row" fxFlex="100">
      <md-input-container fxFlex="100">
        <textarea matInput placeholder="Leave a comment" class="texta"></textarea>
      </md-input-container>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end">
      <button md-raised-button class="primary"  md-dialog-close>Close</button>&nbsp;
      <button md-raised-button class="primary" (click) = "rejectTransaction();">Submit</button>
    </div>
  </fieldset>

</div>