<div fxLayout="row" fxLayout.xs="column">
        
    <fieldset fxFlex="100">
        <legend>            
            <img fxFlexAlign="center" class="logo" src="assets/images/H3U_Logo_201x132.png" />
            Transaction Review</legend>
        <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
                <input type="text" mdInput type='text' placeholder='Card Holder Name' name="docter" />
            </md-input-container>
            <md-input-container fxFlex="49" fxFlexOffset="2">
                <input type="text" mdInput type='text' placeholder='Patient Name' name="docter" />
            </md-input-container>

        </div>
        <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
                <input type="text" mdInput type='text' placeholder='Provider Name' name="docter" />
            </md-input-container>
            <md-input-container fxFlex="49" fxFlexOffset="2">
                <input type="text" mdInput type='text' placeholder='Provider code' name="docter" />
            </md-input-container>
        </div>
        <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="49">
                <input type="text" mdInput type='text' placeholder='Coupon code' name="docter" />
            </md-input-container>
            <md-input-container fxFlex="49" fxFlexOffset="2">
                <input type="text" mdInput type='text' placeholder='Card No' name="docter" />
            </md-input-container>
        </div>
        <div fxLayout="row" fxFlex="100">
                <md-input-container fxFlex="49">
                    <input type="text" mdInput type='text' placeholder='Service' name="docter" />
                </md-input-container>
                <md-input-container fxFlex="49" fxFlexOffset="2">
                    <input type="text" mdInput type='text' placeholder='Subservice' name="docter" />
                </md-input-container>
            </div>
        <div fxLayout="row" fxFlex="100">
            <md-input-container fxFlex="32">
                <input type="text" mdInput type='text' placeholder='Total OPD Amount' name="docter" />
            </md-input-container>
            <md-input-container fxFlex="32" fxFlexOffset="2">
                <input type="text" mdInput type='text' placeholder='Amount Approved' name="docter" />
            </md-input-container>
            <md-input-container fxFlex="32" fxFlexOffset="2">
                    <input type="text" mdInput type='text' placeholder='Amount to be collected from patient' name="docter" />
                </md-input-container>
        </div>
        
        <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="end">
            <button md-raised-button class="primary" md-dialog-close>Close</button>
            <button md-raised-button class="primary" fxFlexOffset="2">Approve</button>
          </div>
    </fieldset>

</div>